In [1]:
## Getting set up

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
spark

In [5]:
data_path = 'C:/Users/pcmr/spark/data'

In [6]:
## Loading Data into DataFrames: CSV Files

In [7]:
file_path = data_path + '/location_temp.csv'
df1 = spark.read.format('csv').option('header', 'true').load(file_path)

In [8]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [9]:
df1.count()

500000

In [10]:
file_path_no_header = data_path + '/utilization.csv'
df2 = spark.read.format('csv').option('header', 'false').option('inferSchema', 'true').load(file_path_no_header)

In [11]:
df2.count()

500000

In [12]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [13]:
df2 = df2.withColumnRenamed('_c0', 'event_datetime')\
.withColumnRenamed('_c1', 'server_id')\
.withColumnRenamed('_c2', 'cpu_utilization')\
.withColumnRenamed('_c3', 'free_memory')\
.withColumnRenamed('_c4', 'session_count')

In [14]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [15]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [16]:
## Loading Data into DataFrames: JSON Files

In [17]:
json_df1_path = data_path + '/utilization.json'
df1_json = spark.read.format('json').load(json_df1_path)

In [18]:
df1_json.count()

500000

In [19]:
df1_json.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [20]:
## DataFrame basic operations

In [21]:
df2.columns

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_count']

In [22]:
## sampling the data (False = do not take the same column twice, fraction = % data usage )
df2_sample = df2.sample(False, fraction = 0.1)

In [23]:
df2_sample.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:56:14|      100|           0.44|       0.48|           63|
|03/05/2019 10:06:14|      100|           0.58|       0.54|           55|
|03/05/2019 10:16:14|      100|           0.62|       0.69|           56|
|03/05/2019 10:31:14|      100|           0.36|       0.35|           61|
|03/05/2019 10:41:14|      100|           0.49|       0.65|           59|
|03/05/2019 11:56:14|      100|           0.64|       0.62|           68|
|03/05/2019 12:11:14|      100|           0.27|       0.65|           69|
|03/05/2019 12:26:14|      100|           0.67|        0.6|           66|
|03/05/2019 12:56:14|      100|           0.48|       0.38|           44|
|03/05/2019 14:01:14|      100|           0.66|       0.69|           56|
|03/05/2019 16:21:14|      100|           0.29|       0.53|           43|
|03/05/2019 17:11:14|      100|           0.43|       0.47|           48|
|03/05/2019 17:36:14|      100|           0.45|       0.33|           38|
|03/05/2019 17:46:14|      100|           0.47|       0.39|           40|
|03/05/2019 19:01:14|      100|           0.61|       0.45|           38|
|03/05/2019 21:41:14|      100|           0.53|        0.6|           42|
|03/05/2019 22:06:14|      100|           0.63|       0.49|           43|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [24]:
## Sorting the data
df2_sort = df2_sample.sort('event_datetime')
df2_sort.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:06:43|      117|           0.71|       0.61|           60|
|03/05/2019 08:06:51|      122|           0.64|       0.48|           65|
|03/05/2019 08:07:07|      131|           0.66|       0.52|           79|
|03/05/2019 08:07:12|      133|           0.81|       0.15|           78|
|03/05/2019 08:07:19|      137|           0.89|       0.31|           65|
|03/05/2019 08:11:24|      106|           0.32|       0.56|           59|
|03/05/2019 08:11:28|      108|            0.8|       0.26|           79|
|03/05/2019 08:11:48|      120|           0.58|       0.38|           64|
|03/05/2019 08:11:50|      121|           0.79|       0.14|           63|
|03/05/2019 08:12:00|      127|           0.47|       0.32|           65|
|03/05/2019 08:12:23|      139|           0.64|        0.3|           96|
|03/05/2019 08:12:29|      142|           0.74|       0.23|           79|
|03/05/2019 08:16:34|      112|           0.87|        0.1|           64|
|03/05/2019 08:16:36|      113|           0.59|       0.05|           74|
|03/05/2019 08:17:15|      135|           0.61|       0.55|           54|
|03/05/2019 08:17:33|      144|           0.65|        0.3|           86|
|03/05/2019 08:21:17|      102|           0.75|       0.12|           87|
|03/05/2019 08:21:28|      108|           0.69|       0.44|           68|
|03/05/2019 08:21:38|      114|           0.62|       0.57|           74|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [25]:
## Filter data with DataFrame API

In [26]:
df1.filter(df1['location_id'] == 'loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [27]:
## Counting the results of the filter
df1.filter(df1['location_id'] == 'loc0').count()
df1.filter(df1['location_id'] == 'loc1').count()

1000

In [28]:
## Aggregate data with DataFrame API

In [29]:
df1.orderBy('location_id').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [30]:
## Obtaining the mean by location_id
df1.groupBy('location_id').agg({'temp_celcius':'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc122|            32.36|
|      loc24|           31.109|
|      loc30|           30.211|
|     loc105|           26.217|
|      loc96|           28.138|
|     loc102|           30.327|
|      loc18|           30.198|
|      loc27|           31.239|
|     loc143|           28.213|
|      loc43|           32.196|
|     loc123|           23.424|
|      loc15|           32.171|
|      loc48|           30.244|
+-----------+-----------------+
only showing top 20 rows

In [31]:
## Obtaining the maximum value in each location
df1.groupBy('location_id').agg({'temp_celcius': 'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
|     loc102|               37|
|     loc103|               32|
|     loc104|               33|
|     loc105|               33|
|     loc106|               34|
|     loc107|               40|
|     loc108|               39|
|     loc109|               31|
|      loc11|               32|
|     loc110|               33|
|     loc111|               38|
|     loc112|               40|
|     loc113|               37|
|     loc114|               36|
|     loc115|               30|
+-----------+-----------------+
only showing top 20 rows

In [32]:
## Sampling data

In [33]:
# Sample of 10% and rows will not be repeated
df1_s1 = df1.sample(fraction=0.1, withReplacement = False)

In [34]:
df1_s1.count()

49972

In [35]:
df1_s1.groupBy('location_id').agg({'temp_celcius': 'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|      loc22| 28.49056603773585|
|      loc31|              25.0|
|      loc82|27.266666666666666|
|      loc90|23.166666666666668|
|     loc118|24.406976744186046|
|      loc39|             25.07|
|      loc75|23.505494505494507|
|     loc122| 32.00925925925926|
|      loc24| 31.04494382022472|
|      loc30| 30.16504854368932|
|     loc105|             26.25|
|      loc96|28.428571428571427|
|     loc102|30.323529411764707|
|      loc18|30.666666666666668|
|      loc27|31.224719101123597|
|     loc143|28.282608695652176|
|      loc43| 32.09016393442623|
|     loc123| 23.17142857142857|
|      loc15| 32.30434782608695|
|      loc48|29.955555555555556|
+-----------+------------------+
only showing top 20 rows

In [36]:
## Ordering the sample by location id
df1_s1.groupBy('location_id').agg({'temp_celcius': 'mean'}).orderBy('location_id').show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0| 29.17391304347826|
|       loc1|28.316326530612244|
|      loc10|25.307692307692307|
|     loc100| 27.12087912087912|
|     loc101|25.048780487804876|
|     loc102|30.323529411764707|
|     loc103|25.615384615384617|
|     loc104|26.456521739130434|
|     loc105|             26.25|
|     loc106|             27.31|
|     loc107| 33.78504672897196|
|     loc108| 32.36842105263158|
|     loc109|24.288888888888888|
|      loc11|25.081818181818182|
|     loc110|26.358695652173914|
|     loc111|31.495495495495497|
|     loc112| 33.57627118644068|
|     loc113|             30.23|
|     loc114|29.097087378640776|
|     loc115|23.137254901960784|
+-----------+------------------+
only showing top 20 rows

In [37]:
df1.groupBy('location_id').agg({'temp_celcius': 'mean'}).orderBy('location_id').show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows

In [38]:
## Saving data from DataFrames

In [39]:
df1.write.csv('df1.csv')

In [50]:
! dir df1.csv

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: E61D-C331

 Directorio de C:\Users\pcmr\OneDrive\PROGRAMACION\PYTHON\pyspark\df1.csv

08/07/2024  19:38    <DIR>          .
08/07/2024  19:38    <DIR>          ..
08/07/2024  19:38            33.900 .part-00000-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv.crc
08/07/2024  19:38            33.872 .part-00001-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv.crc
08/07/2024  19:38            33.872 .part-00002-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv.crc
08/07/2024  19:38            18.636 .part-00003-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv.crc
08/07/2024  19:38                 8 ._SUCCESS.crc
08/07/2024  19:38         4.337.756 part-00000-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv
08/07/2024  19:38         4.334.110 part-00001-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv
08/07/2024  19:38         4.334.110 part-00002-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv
08/07/2024  19:38         2.384.024 part-00003-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv
08/07/2024  19:38                 0 _SUCCESS
              10 archivos     15.510.288 bytes
               2 dirs  525.552.910.336 bytes libres

In [59]:
## ! more df1.csv\part-00000-0c74d570-ea05-4bc4-913a-73f97434aa21-c000.csv

In [60]:
df1.write.json('df1.json')

In [61]:
! dir df1.json

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: E61D-C331

 Directorio de C:\Users\pcmr\OneDrive\PROGRAMACION\PYTHON\pyspark\df1.json

08/07/2024  19:50    <DIR>          .
08/07/2024  19:50    <DIR>          ..
08/07/2024  19:50            88.824 .part-00000-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json.crc
08/07/2024  19:50            87.392 .part-00001-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json.crc
08/07/2024  19:50            87.392 .part-00002-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json.crc
08/07/2024  19:50            48.076 .part-00003-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json.crc
08/07/2024  19:50                 8 ._SUCCESS.crc
08/07/2024  19:50        11.368.080 part-00000-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json
08/07/2024  19:50        11.184.800 part-00001-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json
08/07/2024  19:50        11.184.800 part-00002-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json
08/07/2024  19:50         6.152.320 part-00003-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json
08/07/2024  19:50                 0 _SUCCESS
              10 archivos     40.201.692 bytes
               2 dirs  525.513.170.944 bytes libres

In [2]:
## ! more df1.json\part-00000-5572534c-08d8-4b9c-b69e-f845a00adbf9-c000.json

In [ ]:
## To drop the duplicates:
## df_name.drop_duplicates()

## Check the duplicates in a specific column
## df_name.drop_duplicates(['column_name'])

In [3]:
## Dealing with NA values
## from pyspark.sql import Row
## from pyspark.sql import SparkSession
## from pyspark.sql.functions import lit
## from pyspark.sql.types import StringType

## df_na = df.withColumn('na_col'), lit(None).cast(StringType()))
## df_na.show()

## df_na.fillna('A').show() --- na_col goes from null to 'A'


'''
The next line of code will fill null values with 'A' in the na_col and then join the
table with both data with na_colum = null, and na_colum = 'A'
'''
## df2 = df_na.fillna('A').union(df_na)

'''
Then drop all the columns with NA values
'''
## df2.na.drop()